<!-- 主页面  -->
<div class="main">
    <!-- 翻译质量数据列表 -->
    <div id="curDailyTask" class="col-xs-12" style="margin-top:20px">
        <div class="panel panel-info">
            <div class="panel-heading">
                <ul id="mobileTab" class="nav  nav-pills" role="tablist">
                    #if($productLists)
                        #foreach($product in $productLists)
                            #*隐藏其他选项*#
                            #if($product.id!=102)
                                #if($product.id == $product_current.id)
                                    <li class="active"><a href="/devices/${product.product}">${product.nickname}</a>
                                    </li>
                                #else
                                    <li><a href="/devices/$product.product">$product.nickname</a></li>
                                #end
                            #end
                        #end
                    #end
                </ul>
            </div>